extends profile.pug

block rightPane
  div.container
    div.row.justify-content-center
      div.col-lg-5
        div.card.shadow-lg.border-0.rounded-lg.mt-5
          div.card-header
            h3.text-center.font-weight-light.my-4 Edit Password
          div.card-body
            if errors 
              - var errorTmp = false
            form(action='/user/edit-password' method='post')
              div.form-floating.mb-3
                - errorTmp = errors && errors.oldPassword ? errors.oldPassword : false
                input(class=errorTmp ? "form-control is-invalid" : "form-control" id="oldPassword" name="oldPassword" type="password" placeholder="Old Password" value= form && form.oldPassword ? form.oldPassword : '' required)
                label(for="oldPassword") Old Password
                if errorTmp.msg
                  div.invalid-feedback
                    | #{errorTmp.msg}
              div.form-floating.mb-3
                - errorTmp = errors && errors.password ? errors.password : false
                input(class=errorTmp ? "form-control is-invalid" : "form-control" id="password" name="password" type="password" placeholder="New Password" value= form && form.password ? form.password : '' required)
                label(for="password") New Password
                if errorTmp.msg
                  div.invalid-feedback
                    | #{errorTmp.msg}
              div.form-floating.mb-3
                - errorTmp = errors && errors.passwordControl ? errors.passwordControl : false
                input(class=errorTmp ? "form-control is-invalid" : "form-control" id="passwordControl" name="passwordControl" type="password" placeholder="New Password" value= form && form.passwordControl ? form.passwordControl : '' required)
                label(for="passwordControl") Confirm Password
                if errorTmp.msg
                  div.invalid-feedback
                    | #{errorTmp.msg}
              div.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                button(class="btn btn-primary" role="button" type="submit") Change my password
                input(id="_id" name="_id" type="hidden" value= user && user._id ? user._id : '')
