extends base-login.pug

block headTitle
  title Login

block headMeta
  meta(name='description', content='Login page')
  meta(name='author', content='Eli Serra')

block pageContent
  div#layoutAuthentication
    div#layoutAuthentication_content
      main 
        div.container
          div.row.justify-content-center
            div.col-lg-5
              div.card.shadow-lg.border-0.rounded-lg.mt-5
                div.card-header
                  h3.text-center.font-weight-light.my-4 MyApp - Registration
                div.card-body
                  form(action='/register' method='post')
                    - var title_social_auth = "Register with your account"
                    include social-auth.pug
                    if errors 
                      - var errorTmp = false
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.username ? errors.username : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="username" name="username" type="text" placeholder="username" value= form && form.username ? form.username : '' required)
                      label(for="user_name") username
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.firstName ? errors.firstName : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="firstName" name="firstName" type="text" placeholder="firstName" value= form && form.firstName ? form.firstName : '' required)
                      label(for="user_name") first Name
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.lastName ? errors.lastName : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="lastName" name="lastName" type="text" placeholder="lastName" value= form && form.lastName ? form.lastName : '' required)
                      label(for="lastName") last Name
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.email ? errors.email : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="email" name="email" type="email" placeholder="name@example.com" value= form && form.email ? form.email : '' required)
                      label(for="email") Email address
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.password ? errors.password : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="password" name="password" type="password" placeholder="Password" value= form && form.password ? form.password : '' required)
                      label(for="password") Password
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-floating.mb-3
                      - errorTmp = errors && errors.passwordControl ? errors.passwordControl : false
                      input(class=errorTmp ? "form-control is-invalid" : "form-control" id="passwordControl" name="passwordControl" type="password" placeholder="Password" value= form && form.passwordControl ? form.passwordControl : '' required)
                      label(for="passwordControl") Confirm Password
                      if errorTmp.msg
                        div.invalid-feedback
                          | #{errorTmp.msg}
                    div.form-check.mb-3
                      input(class="form-check-input" id="user_show_pass" name="user_show_pass" type="checkbox" value="")
                      label(class="form-check-label" for="user_show_pass") Show Password
                    div.d-flex.align-items-center.justify-content-between.mt-4.mb-0
                      button(class="btn btn-primary" role="button" type="submit") Register
                div.card-footer.text-center.py-3
                  div.small
                    a(href="/") Go home
    div#layoutAuthentication_footer
      include ../parts/footer.pug